@{
    ViewData["Title"] = "Acerca de...";
}
<h2>@ViewData["Title"]</h2>
@*recibe mensaje del controlador llamado Message*@
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
