@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    San Miguel<br />
    El Salvador<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    
</address>
